.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.paddingT15 {
    padding-top: 15px;
}

.margn-tp {
    margin-top: 10px;
    margin-left: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 209, 209) !important;
    height: 10%;
}

.text {
    text-decoration: solid;
    padding-top: 10px;
}